*{
  padding: 0;
  margin: 0;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;

  background-color: yellow;
  user-select: none;
}

.balance-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
}
.income{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}
.income > div:nth-of-type(1){
  border-right: 2px solid black;
  padding: 20px;
}
.list > ul{
  list-style: none;
  font-size: 20px;

}
.list > ul > li{
  background-color: orange;
  padding: 10px;
  border: 2px solid white;
  position: relative;
}
.list span{
  position: absolute;
  right: 20px;
}